boto3==1.28.36
botocore==1.31.85
wheel==0.45.1
pyfiglet==1.0.2
Pillow==10.0.1
pytest==8.3.4
pymodbus==3.4.1
python-kasa==0.5.3
pyserial==3.5
urllib3==2.0.7
coloredlogs==15.0.1
termcolor==2.5.0
numpy==1.26.4
pandas==2.2.3
PyAutoGUI==0.9.54
opencv-python==4.8.1.78
scikit-image==0.22.0
screeninfo==0.8.1
